
.create-lost-item-page-container {
    background-color: #f9e5c2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
